<form name="vm.createSubjectForm" novalidate>
  <section class="fieldset">
    <label class="subject">
      <span>Subject name</span>
      <input type="text" class="txt" ng-model="vm.subject" placeholder="Type to search or add new" ng-required="true">
    </label>
  </section>
  <ul class="errors"></ul>
  <section class="actions">
    <button class="reset" type="reset">Reset</button>
    <button class="add" type="reset" ng-click="vm.createSubject()" ng-disabled="vm.createSubjectForm.$invalid">Add</button>
  </section>
</form>
