<form name="vm.createAuthorForm" novalidate>
  <section class="fieldset">
    <label class="author">
      <span>Author name</span>
      <input type="text" class="txt" ng-model="vm.author" placeholder="Type to search or add new" ng-required="true">
    </label>
  </section>
  <ul class="errors"></ul>
  <section class="actions">
    <button class="reset" type="reset">Reset</button>
    <button class="add" type="reset" ng-click="vm.createAuthor()" ng-disabled="vm.createAuthorForm.$invalid">Add</button>
  </section>
</form>
