<h2>
  <i class="icon author"></i>
  {{vm.details.name}}
  <i class="icon delete" ng-click="vm.deleteAuthor()"></i>
</h2>

<section>
  <h3>Books</h3>
  <book ng-repeat="book in vm.details.books" book="book"></book>
  <aside ng-if="!vm.details.books.length">
    There are no books listed under this author.
  </aside>
</section>

<section>
  <h3>Subjects</h3>
  <subject ng-repeat="subject in vm.details.subjects" subject="subject"></subject>
  <aside ng-if="!vm.details.books.length">
    There are no subjects covered under this author.
  </aside>
</section>
