@import "mixins";
@import "variables";
@import "icons";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: inherit;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  background: none;
  font-family: inherit;
  font-weight: inherit;
}

html {
  font-size: 14px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: @background;
  color: @card-foreground;
}

a {
  &:hover, &:focus {
    color: @secondary;
  }

  &:active {
    color: @primary;
  }
}

h2 {
  margin-bottom: 25px;
  .count-bubble();

  .title {
    display: inline-flex;
    align-items: center;

    .count {
      font-size: .72em;
    }
  }

  .to-right() {
    float: right;
    opacity: .75;
    cursor: pointer;
    margin-left: 10px;
  }

  .icon {
    &.delete,
    &.add,
    &.filter,
    &.edit {
      .to-right();

      &:hover {
        opacity: 1;
      }
    }
  }

  button {
    .to-right();
    .button();
    font-size: 1rem;
  }
}

h3 {
  color: @surface-secondary-foreground;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  .count-bubble();
}

.icon:extend(.material-icons) {
  display: inline-block;
  font-size: 1.25em;
  line-height: 1em;
  vertical-align: bottom;
}

section aside {
  font-size: .9em;
  font-style: italic;
}

hr {
  border-bottom: 1px solid @grid-divider;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

table {
  &:extend(.card-1);
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-radius: 0;

  th {
    background: @primary;
    color: @header-foreground;
    text-align: left;
  }

  th, td {
    padding: 15px 10px;
  }

  tr:nth-child(2n+1) td {
    background-color: mix(@primary, @header-foreground, 20%);
  }

  tr:nth-child(2n) td {
    background-color: mix(@secondary, @header-foreground, 10%);
  }

  td a {
    text-decoration: underline;
  }
}
