.search.icon:after {
  content: "search";
  margin-right: 10px;
}

.user.icon:after {
  content: "person";
}

.home.icon:after {
  content: "home";
}

.logout.icon:after {
  content: "exit_to_app";
}

.author.icon:after {
  content: "person";
  margin-right: 10px;
}

.book.icon:after {
  content: "book";
  margin-right: 10px;
}

.subject.icon:after {
  content: "subject";
  margin-right: 10px;
}

.arrow.icon {

  &:after {
    content: "keyboard_arrow_right";
  }

  &.down:after {
    content: "keyboard_arrow_down";
  }
}

.checkbox.icon:after {
  content: "check_box_outline_blank";
  margin-right: 10px;
}

.checkbox.checked.icon:after {
  content: "check_box";
  margin-right: 10px;
}

.settings.icon:after {
  content: "settings";
  margin-right: 10px;
}

.close.icon:after {
  content: "close";
}

.delete.icon:after {
  content: "delete";
}

.add.icon:after {
  content: "add";
}
