@primary: #26A69A; // 400
@secondary: #00897B; // 600
@tertiary: #B2DFDB; //200
@background: #ECEFF1; // 50

@card-background: #FFFFFF; // white
@card-foreground: #212121;
@card-secondary-foreground: #FFFFFF;
@card-secondary-background: #727272;
@surface-secondary-foreground: #727272;
@header-foreground: #FFFFFF;

@grid-divider: #CFD2D4;
@accent-color: #FFC107;

@container-size: 1000px;
