<h2>
  <i class="icon book"></i>
  <translate>BOOKS</translate>
  <i class="icon add" ui-sref="admin.createBook" title="Add New Book" ng-if="vm.canAdd()"></i>
  <i class="icon filter" ng-click="vm.toggleFilters()"></i>
</h2>

<main>

  <aside class="books-filters" ng-class="vm.showFilters ? 'show' : 'hide'">
    <books-filters
      filters="vm.filters"
      on-change="vm.onFiltersChange()"
      on-clear-filters="vm.clearFilters()"></books-filters>

    <div class="backdrop" ng-click="vm.toggleFilters()"></div>
    <button-go-to-top></button-go-to-top>
  </aside>

  <section class="books-list">
    <input
      type="text"
      search-input
      autofocus
      ng-model="vm.filters.searchString"
      placeholder="Search by title, accession no. and rack no."
      ng-change="vm.onSearchStringChange($event)"
    >

    <aside ng-if="vm.filteredBooks.length">
      {{vm.filteredBooks.length}} Found.
    </aside>

    <aside ng-if="!vm.filteredBooks.length">
      There are no books matching the filters
    </aside>

    <ul
      uib-pager
      ng-if="vm.filteredBooks.length"
      total-items="vm.filteredBooks.length"
      ng-model="vm.filters.currentPage"
      items-per-page="vm.ITEMS_PER_PAGE"
    ></ul>

    <div class="list">
      <book ng-repeat="book in vm.filteredBooks.slice(((vm.filters.currentPage - 1) * vm.ITEMS_PER_PAGE), ((vm.filters.currentPage) * vm.ITEMS_PER_PAGE))" book="book" show-details="true" ng-class="{borrowed: book.borrowed}"></book>
    </div>

  </section>

</main>
