<h2>{{vm.details.title}}</h2>

<section class="attributes">

  <attribute
    label="Accession No."
    value="{{vm.details.accessno}}"
  ></attribute>

  <attribute
    label="Added Date"
    value="{{vm.details.adddate}}"
  ></attribute>

  <attribute
    label="Rack No."
    value="{{vm.details.rackno}}"
  ></attribute>

  <attribute
    label="Subject"
    value="{{vm.details.subject}}"
    link="{{vm.getSubjectLink(vm.details.subjectid)}}"
  ></attribute>

</section>

<section>
  <h3>Authors</h3>
  <author ng-repeat="author in vm.details.authors" author="author"></author>
  <aside ng-if="!vm.details.authors.length">
    There are no authors listed for this book.
  </aside>
</section>
