@import "../../styles/less/mixins";

book-details {
  display: block;
  .center-it();

  .attributes {

    attribute {
      display: block;
      margin-bottom: 10px;

      .label {
        color: @card-secondary-background;
        font-size: .9em;
        width: 110px;
      }

      a.value {
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  section {
    margin-bottom: 25px;

    h3 {
      margin-bottom: 10px;
    }

    author {
      .card-list();
    }
  }
}
