<h2>
  <i class="icon book"></i>
  Books
  <i class="icon add" ui-sref="admin.createBook" title="Add New Book" ng-if="vm.canAdd()"></i>
</h2>

<main>

  <aside class="books-filters">
    <books-filters
      filters="vm.filters"
      on-change="vm.onFiltersChange()"
      on-clear-filters="vm.clearFilters()"></books-filters>

    <button-go-to-top></button-go-to-top>
  </aside>

  <section class="books-list">
    <input
      type="text"
      search-input
      autofocus
      ng-model="vm.query"
      placeholder="Search by title, accession no. and rack no.">

    <div class="list"
         infinite-scroll="vm.getMoreBooks()"
         infinite-scroll-disabled="vm.allLoaded || vm.loading"
         infinite-scroll-distance="1">
      <book ng-repeat="book in books = (vm.books | filter: vm.search)" book="book" show-details="true"></book>
    </div>

    <aside ng-if="!books.length">
      There are no books matching the filters
    </aside>

    <aside ng-if="vm.allLoaded" class="all-loaded"></aside>
  </section>

</main>
