<h2>
  <i class="icon book"></i>
  {{vm.details.title}}
  <button class="issue" ng-click="vm.returnBook()" ng-if="vm.canReturn()">Return</button>
  <button class="borrow" ng-click="vm.borrowBook()" ng-if="vm.canBorrow()">Borrow</button>
  <button class="issue" ng-click="vm.issueBook()" ng-if="vm.canEdit()">Issue</button>
  <i class="icon delete" ng-click="vm.deleteBook()" title="Delete book" ng-if="vm.canEdit()"></i>
  <i class="icon edit" ui-sref="books.edit({id: vm.details.bookid})" title="Edit book" ng-if="vm.canEdit()"></i>
</h2>

<section class="attributes">

  <attribute
    label="Accession No."
    value="{{vm.details.accessno}}"
  ></attribute>

  <attribute
    label="Added Date"
    value="{{vm.details.acquisitiondate}}"
  ></attribute>

  <attribute
    label="Rack No."
    ng-if="!vm.isElectronicCopy"
    value="{{vm.details.rackno}}"
  ></attribute>

  <attribute
    label="Pages"
    value="{{vm.details.pages}}"
  ></attribute>

  <attribute
    label="Publication Year"
    value="{{vm.details.year}}"
  ></attribute>

  <attribute
    label="Language"
    value="{{vm.details.language}}"
  ></attribute>

  <attribute
    label="ISBN"
    value="{{vm.details.isbn}}"
  ></attribute>

  <attribute
    label="Price"
    ng-if="!vm.isElectronicCopy"
    value="{{vm.details.cost | currency: '&#8377;'}}"
  ></attribute>

  <attribute
    label="Copy"
    value="{{vm.details.copy}}"
  ></attribute>

  <attribute
    label="Cover"
    ng-if="!vm.isElectronicCopy"
    value="{{vm.details.binding}}"
  ></attribute>

  <attribute
    label="Condition"
    ng-if="!vm.isElectronicCopy"
    value="{{vm.details.condition}}"
  ></attribute>

  <attribute
    label="Source"
    ng-if="!vm.isElectronicCopy"
    value="{{vm.details.source}}"
  ></attribute>

  <attribute
    label="Link"
    ng-if="vm.isElectronicCopy"
    link="{{vm.details.url}}"
    value="to Book"
  ></attribute>

</section>

<section ng-if="vm.details.description">
  <h3>Description</h3>
  <pre class="description">{{vm.details.description}}</pre>
</section>

<section>
  <h3>Authors</h3>
  <author ng-repeat="author in vm.details.authors" author="author"></author>
  <aside ng-if="!vm.details.authors.length">
    There are no authors listed for this book.
  </aside>
</section>

<section>
  <h3>Subjects</h3>
  <subject ng-repeat="subject in vm.details.subjects" subject="subject"></subject>
  <aside ng-if="!vm.details.subjects.length">
    There are no subjects listed for this book.
  </aside>
</section>

<section class="borrow-history" ng-if="vm.canViewHistory()">
  <h3>Borrow History</h3>
  <button ng-click="vm.getBorrowHistory()" ng-if="!vm.history.length">Click to load borrow history</button>
  <table ng-if="vm.history.length">
    <tr>
      <th>Borrowed By</th>
      <th>Borrow Date</th>
      <th>Issued By</th>
      <th>Received By</th>
      <th>Received Date</th>
      <th>Penalty</th>
    </tr>
    <tr ng-repeat="history in vm.history">
      <td>{{::history.borrowerName}}</td>
      <td title="{{::history.borrowdate | date: 'd MMM, yyyy hh:mm a'}}">{{::history.borrowdate | date: 'd MMM, yyyy'}}</td>
      <td>{{::history.issuerName}}</td>
      <td>{{::history.receiverName}}</td>
      <td title="{{::history.returndate | date: 'd MMM, yyyy hh:mm a'}}">{{::history.returndate | date: 'd MMM, yyyy'}}</td>
      <td>{{history.returndate && (history.penalty | currency: '')}}</td>
    </tr>
  </table>
</section>
