@import "../../styles/less/mixins";

book-details {
  display: block;

  .attributes {
    display: flex;
    flex-flow: row wrap;

    attribute {
      display: block;
      flex-basis: 100%/3;
      margin-bottom: 10px;

      .label {
        color: @card-secondary-background;
        font-size: .9em;
        width: 110px;
      }

      a.value {
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  section {
    margin-bottom: 25px;

    h3 {
      margin-bottom: 10px;
    }

    author,
    subject {
      .card-list();
    }

    pre.description {
      &:extend(.card-1);
      padding: 15px;
    }
  }

  section.borrow-history {

    button {
      .button();
    }

    table {
      &:extend(.card-1);
      display: table;
      width: 100%;
      border-collapse: collapse;
      border-radius: 0;

      th {
        background: @primary;
        color: @header-foreground;
        text-align: left;
      }

      th, td {
        padding: 15px 10px;
      }

      tr:nth-child(2n+1) td {
        background-color: mix(@primary, @header-foreground, 20%);
      }

      tr:nth-child(2n) td {
        background-color: mix(@secondary, @header-foreground, 10%);
      }
    }
  }
}
