@import "../../styles/less/mixins";
@import "../../styles/less/variables";

breadcrumbs:extend(.card-2) {
  background-color: @breadcrumbs;
  color: darken(@secondary, 10%);
  display: block;
  font-size: .8em;
  margin-bottom: 25px;
  min-height: 2.5em;
  padding: 5px;

  ul {
    .center-it();
  }

  li {
    display: inline-block;
    vertical-align: bottom;

    &:not(:last-child) {
      max-width: 75px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &:not(:first-child):before {
      content: '/';
      margin-left: 5px;
    }
  }
}
