@import "../../styles/less/mixins";
@import "../../styles/less/variables";

breadcrumbs:extend(.card-2) {
  background-color: @breadcrumbs;
  color: darken(@secondary, 10%);
  display: block;
  font-size: .75em;
  height: 2em;
  margin-bottom: 25px;
  padding: 5px;

  ul {
    .center-it();
  }

  li {
    display: inline;

    &:after {
      content: '\027EB';
    }
  }
}
