<h2>
  <i class="icon subject"></i>
  <span class="title">
    <translate>SUBJECTS</translate>
    <span class="count">{{vm.subjectCount}}</span>
  </span>
  <i class="icon add" ui-sref="admin.createSubject" title="Add New Subject" ng-if="vm.canAdd()"></i>
</h2>

<section ng-repeat="(alphabet, subjects) in vm.subjects">
  <h4>{{alphabet}}</h4>
  <ul class="subjects">
    <li class="subject" ng-repeat="subject in subjects">
      <a ui-sref="subjects.details({id: subject.subjectid})">{{subject.name}}</a>
    </li>
  </ul>
</section>
