<h2>
  <i class="icon subject"></i>
  {{vm.details.name}}
  <i class="icon delete" ng-click="vm.deleteSubject()" ng-if="vm.canEdit()"></i>
  <i class="icon edit" ui-sref="subjects.edit({id: vm.details.subjectid})" title="Edit Subject" ng-if="vm.canEdit()"></i>
</h2>

<section>
  <h3>Books
    <span class="count" ng-if="vm.details.books.length">{{vm.details.books.length}}</span>
  </h3>
  <book ng-repeat="book in vm.details.books" book="book"></book>
  <aside ng-if="!vm.details.books.length">
    There are no books listed under this subject.
  </aside>
</section>

<section>
  <h3>Authors
    <span class="count" ng-if="vm.details.authors.length">{{vm.details.authors.length}}</span>
  </h3>
  <author ng-repeat="author in vm.details.authors" author="author"></author>
  <aside ng-if="!vm.details.authors.length">
    There are no authors covering this subject.
  </aside>
</section>
