<form name="vm.createAuthorForm" novalidate>
  <section class="fieldset">
    <label class="author big">
      <span class="label">Author name</span>
      <author-input model="vm.author.name" exists="vm.exists"></author-input>
    </label>
  </section>
  <ul class="errors"></ul>
  <section class="actions">
    <button class="reset" type="reset" ng-if="!vm.update">Reset</button>
    <button class="submit" type="reset" ng-click="vm.onSubmitButtonClick()" ng-disabled="vm.createAuthorForm.$invalid || vm.exists">
      {{vm.update ? 'Update' : 'Add'}}
    </button>
  </section>
</form>
