<form name="vm.createBookForm" novalidate>
  <section class="fieldset">

    <labeled-input class-names="accessno small" label="Accession No.">
      <input
        type="text"
        class="txt"
        ng-model="vm.book.accessno"
        ng-pattern="/^\d{5,6}$/"
        placeholder="####"
        ng-required="true">
    </labeled-input>

    <labeled-input class-names="acquisitiondate small" label="Acquisition Date">
      <input
        class="txt"
        datepicker-options="vm.datepicker.options"
        is-open="vm.datepicker.isOpen"
        ng-focus="vm.onAcqDateFocus()"
        ng-model="vm.book.acquisitiondate"
        ng-required="true"
        show-button-bar="false"
        type="text"
        uib-datepicker-popup="{{vm.datepicker.format}}"
        readonly
      >
    </labeled-input>

    <labeled-input class-names="rackno small" label="Rack No." ng-if="!vm.isElectronicCopy">
      <input type="text" class="txt" ng-model="vm.book.rackno" placeholder="e.g 1a2" rack-no ng-required="true">
    </labeled-input>

    <labeled-input class-names="title big" label="Title">
      <input type="text" class="txt" ng-model="vm.book.title" placeholder="Enter book title" ng-required="true">
    </labeled-input>

    <label class="subject big">
      <span class="label"><a ng-click="vm.addSubjectField()">Add Subject</a>Subject(s)</span>
      <span class="input" ng-repeat="subject in vm.book.subjects track by $index">
        <subject-input model="subject.name" exists="exists"></subject-input>
        <i class="icon close" ng-click="vm.removeSubjectField($index)" ng-if="!$first"></i>
      </span>
    </label>

    <label class="author big">
      <span class="label"><a ng-click="vm.addAuthorField()">Add Author</a>Author(s)</span>
      <span class="input" ng-repeat="author in vm.book.authors track by $index">
        <author-input model="author.name" exists="exists"></author-input>
        <i class="icon close" ng-click="vm.removeAuthorField($index)" ng-if="!$first"></i>
      </span>
    </label>

    <labeled-input class-names="description big" label="Brief description">
      <textarea ng-model="vm.book.description" rows="5" placeholder="Write a brief description of the book."></textarea>
      <ul class="hints">
        <li>Use '{br}' to enter new lines</li>
      </ul>
    </labeled-input>

    <labeled-input class-names="pages small" label="No. of pages">
      <input ng-model="vm.book.pages" ng-pattern="/^[1-9]\d*$/" placeholder="e.g 230">
    </labeled-input>

    <labeled-input class-names="year small" label="Publication year">
      <input ng-model="vm.book.year" ng-pattern="/^\d{0,4}$/" placeholder="YYYY">
    </labeled-input>

    <labeled-input class-names="language small" label="Language">
      <language-input model="vm.book.language"></language-input>
    </labeled-input>

    <labeled-input class-names="isbn small" label="ISBN">
      <input ng-model="vm.book.isbn" placeholder="Enter ISBN" maxlength="15">
    </labeled-input>

    <labeled-input class-names="copy small" label="Copy">
      <select ng-model="vm.book.copy" ng-change="vm.onCopyChange()">
        <option value="OC">Original</option>
        <option value="PC">Photocopy</option>
        <option value="EC">Electronic</option>
      </select>
    </labeled-input>

    <labeled-input class-names="cost small" label="Price" ng-if="!vm.isElectronicCopy">
      <input ng-model="vm.book.cost" placeholder="Rs." ng-pattern="/^\d*(\.\d+)?$/">
    </labeled-input>

    <labeled-input class-names="binding small" label="Binding" ng-if="!vm.isElectronicCopy">
      <select ng-model="vm.book.binding">
        <option value="HARD">Hard Cover</option>
        <option value="PAPER">Paper Cover</option>
      </select>
    </labeled-input>

    <labeled-input class-names="source small" label="Source" ng-if="!vm.isElectronicCopy">
      <select ng-model="vm.book.source">
        <option value="CL">Central Library</option>
        <option value="DC">Donated Copy</option>
        <option value="CC">Complimented Copy</option>
        <option value="OT">Other</option>
      </select>
    </labeled-input>

    <labeled-input class-names="condition small" label="Condition" ng-if="!vm.isElectronicCopy">
      <select ng-model="vm.book.condition">
        <option value="GOOD">Good</option>
        <option value="DAMAGED">Damaged</option>
        <option value="TBR">To be replaced</option>
      </select>
    </labeled-input>

    <labeled-input class-names="url big" label="URL" ng-if="vm.isElectronicCopy">
      <input type="url" ng-model="vm.book.url" ng-required="vm.isElectronicCopy">
    </labeled-input>

  </section>
  <ul class="errors"></ul>
  <section class="actions">
    <a ui-sref="books.details({id: vm.book.bookid})" class="reset" ng-if="vm.update">Cancel</a>
    <button class="reset" type="reset" ng-if="!vm.update">Reset</button>
    <button
      class="submit"
      ng-click="vm.onSubmitButtonClick()"
      ng-disabled="vm.createBookForm.$invalid"
      ng-if="!vm.update"
      type="reset"
    >
      Add
    </button>
    <button
      class="submit"
      ng-click="vm.onSubmitButtonClick()"
      ng-if="vm.update"
      ng-disabled="vm.createBookForm.$invalid"
    >
      Update
    </button>
  </section>
</form>
