<form name="vm.createSubjectForm" novalidate>
  <section class="fieldset">
    <label class="subject big">
      <span class="label">Subject name</span>
      <subject-input model="vm.subject" exists="vm.exists"></subject-input>
    </label>
  </section>
  <ul class="errors"></ul>
  <section class="actions">
    <button class="reset" type="reset" ng-if="!vm.update">Reset</button>
    <button class="submit" type="reset" ng-click="vm.onSubmitButtonClick()" ng-disabled="vm.createSubjectForm.$invalid || vm.exists">
      {{vm.update ? 'Update' : 'Add'}}
    </button>
  </section>
</form>
