@import "../../styles/less/variables";
@import "../../styles/less/mixins";

app-header {
  display: block;
  color: @header-foreground;
  padding: 0;
  border-radius: 0;

  .content {
    .center-it();
  }
}
