@import "../../styles/less/variables";

header-banner {
  display: block;
  background-color: @primary;

  .content {
    display: flex;
    flex-flow: row wrap;

    .left,
    .right {
      flex-basis: 100%;
    }

    @media screen and (min-width: 775px) {
      .left {
        flex-basis: auto;
      }

      .right {
        flex: 1 0 auto;
      }
    }

    .left .logo {
      display: inline-block;
      padding: 10px 0;

      p {
        font-size: .8em;
      }
    }

    .right {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      li a {
        display: inline-block;
        padding: 5px 15px;
        border-bottom: 2px solid transparent;
        transition: border .3s;

        &:hover {
          border-bottom-color: @secondary;
        }

        &.active {
          border-bottom-color: @header-foreground;
        }
      }
    }

    a {
      &:hover,
      &:focus,
      &:active {
        color: @header-foreground;
      }
    }
  }
}
