<div class="content" ng-class="{'logged-in': !!vm.user.details.userid}">
  <a
    class="home"
    icon="home"
    label="HOME"
    ui-sref="home"
    user-info-attribute
  ></a>
  <div class="language">
    <i class="icon translate"></i>
    <select ng-change="vm.setLanguage()" ng-model="vm.language">
      <option value="en">English</option>
      <option value="ta">தமிழ்</option>
      <option value="sa">संस्कृतम्</option>
    </select>
  </div>
  <a class="message" translate translate-values="{name: vm.user.details.name}">WELCOME_MESSAGE</a>
  <a
    class="login"
    icon="user"
    label="LOG_IN"
    ui-sref="login"
    user-info-attribute
  ></a>
  <a
    class="profile"
    icon="user"
    label="PROFILE"
    ui-sref="profile({id: vm.user.details.userid, name: vm.user.details.name})"
    user-info-attribute
  ></a>
  <a
    class="logout"
    icon="logout"
    label="LOG_OUT"
    ng-click="vm.logout()"
    user-info-attribute
  ></a>
</div>
