<div class="content">

  <div class="left">
    <a ui-sref="home" class="logo">
      <h1>My Librarian</h1>
      <p>Department of Sanskrit - RKMVC</p>
    </a>
  </div>

  <ul class="right">
    <li>
      <a ui-sref-active="active" ui-sref="books.list">Books</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref="authors.list">Authors</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref="subjects.list">Subjects</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref="admin">Administration</a>
    </li>
  </ul>

</div>
