@import "../../styles/less/mixins";
@import "../../styles/less/variables";

profile {
  display: block;
  .center-it();

  section {
    margin-bottom: 25px;

    aside {
      padding-left: 10px;
    }
  }

  .details,
  .settings,
  .password {
    table {
      .inputs();
      width: 50%;
      box-shadow: none;
      background: none;

      td:nth-child(n) {
        background: none;
        padding: 0 0 10px 10px;
      }

      td:nth-child(1) {
        width: 50%;
      }

      td:nth-child(2) {
        width: 50%;
      }

      button {
        .button();
      }
    }
  }

  .borrowed {
    .title {
      width: 60%;
    }

    .borrow-date,
    .due-date {
      width: 20%;
    }
  }

  .borrow-history {
    .title {
      width: 50%;
    }

    .issued-by,
    .received-by {
      width: 20%;
    }

    .penalty {
      width: 10%;
    }

    .name {
      margin-bottom: 5px;
    }

    .date {
      font-size: .85em;
      color: @surface-secondary-foreground;
    }
  }
}
